body {
    font-family: Arial, sans-serif;
    background-color: #97e6a2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#chat-container {
    width: 400px;
    background: #f38c8c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    height: 300px;
    border-bottom: 1px solid #180303;
}

.bot-message {
    background: #1a99e8;
    color: #faf0f0;
    padding: 8px 12px;
    margin: 8px 0;
    border-radius: 12px;
    max-width: 70%;
    align-self: flex-start;
}

.user-message {
    background: #e8e6e5;
    color: #333;
    padding: 8px 12px;
    margin: 8px 0;
    border-radius: 12px;
    max-width: 70%;
    align-self: flex-end;
}

#input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #f3f0ee;
}

#user-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #f1eb77;
    border-radius: 20px;
    margin-right: 10px;
    outline: none;
}

#send-btn {
    background: #0078d7;
    color: rgb(234, 234, 230);
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

#send-btn:hover {
    background: #0078d7;
}